# 1-1.4 1-1.3
# 1-1.2 1-1.1
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="090c", ATTRS{idProduct}=="b371", MODE:="0666", SYMLINK+="usb_cam"

