<?xml version="1.0"?>
<launch>
    <arg name="gui"                 default="true"/>
    <arg name="freq"                default="50"/>
    <arg name="debug"               default="false"/>
    <arg name="imu_raw_topic"       default="imu_raw"/>
    <arg name="imu_frame"           default="imu_frame"/>
    <arg name="imu_link"            default="imu_link"/>
    <arg name="imu_topic"           default="imu_data"/>

    <group if="$(arg debug)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find ainex_description)/urdf/ainex.urdf.xacro'" />

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <node name="tf_broadcaster_imu" pkg="ainex_sdk" type="tf_broadcaster_imu.py" output="screen">
            <param name="imu_topic" value="$(arg imu_topic)"/>
            <param name="imu_frame" value="$(arg imu_frame)"/>
            <param name="imu_link"  value="$(arg imu_link)"/>
        </node>
    </group>

    <!--imu数据发布节点(imu data publishing node)-->
    <node name="imu" pkg="ainex_sdk" type="imu_node.py"  output="screen">
        <param name="imu_raw" value="$(arg imu_raw_topic)"/>
        <param name="freq"    value="$(arg freq)"/>
        <param     if="$(arg debug)" name="imu_frame" value="$(arg imu_frame)"/>
        <param unless="$(arg debug)" name="imu_frame" value="$(arg imu_link)"/>
    </node>

    <node name="imu_calib" pkg="imu_calib" type="apply_calib" output="screen" >
        <param name="calib_file" value="$(find ainex_kinematics)/config/imu_calib.yaml" />
        <remap from="raw"        to="$(arg imu_raw_topic)" />
        <remap from="corrected"  to="imu_corrected"/>
    </node>

    <node name="imu_filter" pkg="imu_complementary_filter" type="complementary_filter_node" >
        <param name="use_mag"             value="false"/>
        <param name="do_bias_estimation"  value="true"/>
        <param name="do_adaptive_gain"    value="true"/>
        <remap from="imu/data_raw"        to="imu_corrected"/>
        <remap from="imu/data"            to="$(arg imu_topic)"/>
    </node>

    <node if="$(arg debug)" name="rviz" pkg="rviz" type="rviz" args="-d $(find ainex_kinematics)/imu.rviz"/>
</launch>
