<?xml version="1.0"?>
<!--颜色识别-->
<launch>
    <arg name="enable_camera"   default="true"/>
    <arg name="node_name"       default="color_detection"/>
    <arg name="debug"           default="false"/>
    <arg name="enable_display"  default="false"/>
    <arg name="camera_name"     default="camera"/>
    <arg name="image_topic"     default="image_rect_color"/>

    <!--摄像头节点-->
    <include if="$(arg enable_camera)" file="$(find ainex_peripherals)/launch/usb_cam_with_calib.launch">
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="image_topic" value="$(arg image_topic)"/>
    </include>

    <!--颜色识别-->
    <node pkg="ainex_example" type="color_detection_node.py" name="$(arg node_name)" output="screen">
        <!--直接开启识别颜色-->
        <param name="debug"             value="$(arg debug)"/>
        <!--显示画面-->
        <param name="enable_display"    value="$(arg enable_display)"/>
    </node>
</launch>
