<?xml version="1.0"?>
<launch>
    <arg name="base_frame"  default="base_link"/>
    <node name="joint_states_publisher" pkg="hiwonder_servo_controllers" type="joint_state_publisher.py" output="screen" launch-prefix="taskset -c 3">
        <param name="base_frame"    value="$(arg base_frame)"/>
    </node>
</launch>
